<footer class="footer">
  <div class="footer__container">
    <section>
      <h2 class="footer__title">Sobre</h2>
      <p class="footer__about-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel
        exercitationem, inventore nemo unde doloremque error libero. Neque ut
        eius tempore, similique in labore ipsum saepe quidem, odit omnis
        doloribus harum!
      </p>
    </section>
    <address>
      <h2 class="footer__title">Contato</h2>
      <ul>
        <li>
          <a href="">
            <i class="fa-solid fa-envelope"></i> lucassouza.1000@hotmail.com.br
          </a>
        </li>
        <li>
          <a href="">
            <i class="fa-brands fa-whatsapp-square"></i> (79) 99936-3419
          </a>
        </li>
      </ul>
    </address>
  </div>
  <section class="footer__copyright">
    &copy; Todos os direitos reservados
  </section>
</footer>
